<!DOCTYPE html>
<html>
<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title></title>
</head>
<body>
{% include 'cart/navbar.html' %}
hello~
{% for cart in carts%}
<div>
    <h3>{{cart.title}}</h3>
    <button type="button" class="btn btn-default navbar-btn">{{cart.now_state}}</button>
    <a href="cart/{{cart.id}}/delete">삭제</a>
    <img src="{{cart.photo}}" class= 'img-responsive'>
    <p>{{cart.price}}</p>
    <a href="{{cart.url}}" >이 상품으로 가기</a>
</div>

{% endfor %}
</body>
</html>